:root{
     
    --main-color: #161424;
    --dark-color: #0D0C16;
    --contrast-color: #4F46E5;

}



body{
    color: white;
    background-color: var(--main-color);
}

.bg-color-dark{

    background-color: var(--main-color);

}

.p-bold{

    font-weight: bold;

}

.color-dark{
    color: var(--dark-color);
}

.dark-color{
    background-color: var(--dark-color);
    color: white
}

.centralizar{
    text-align: center;
}

::-webkit-input-placeholder {
    color: rgb(196, 196, 196) 
 }
 
 :-moz-placeholder { 
    color: rgb(196, 196, 196) ! 
 }
 
 ::-moz-placeholder {  
    color: rgb(196, 196, 196)  
 }
 
 :-ms-input-placeholder {  
    color: rgb(196, 196, 196)   
 }